
{% for status in statuses.statuses %}
  <div class="col-xl-4 col-md-6">
    <div class="card twitter-card mb-4">
      <div class="card-body text-center">
        <p><img class="img-fluid rounded-circle border" src="{{ status.user.profile_image_url_https }}" alt="card image"></p>
        <h4 class="card-title"><a class="a-twitter" href="https://twitter.com/{{ status.user.screen_name }}" target="_blank">{{ status.user.name }} <small>@{{ status.user.screen_name }}</small></a></h4>
        <p class="card-text">{{ status.text }}</p>
        <a href="https://twitter.com/statuses/{{ status.id }}" class="btn voir-tweet btn-sm pr-4" target="_blank"><img class="twitter-white mr-3" src="{{ url('assets/icons/twitter/twitter-white.svg') }}" alt="">Voir tweet</a>
        <p class="card-text text-right date">{{ status.created_at|date("H:i d/m/Y", "Europe/Paris") }}</p>
      </div>
    </div>
  </div>
{% endfor %}
