{% extends "base.html.twig" %} 

{% block content %}
    <h1>Todos</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Created at</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
                <tr>
                    <th scope="row">{{ todo.id }}</th>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.getCategory.name }}</td>
                    <td>{{ todo.created_at|date("d/m/Y H:i:s") }}</td>
                    <td>
                        <a class="btn btn-danger" href="{{ url('todo/delete/' ~ todo.id) }}" role="button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <h2>Add todo</h2>

    <form method="POST" action="{{ url('todo/add') }}">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="title" placeholder="Title">
            </div>
            <div class="col">
                <select name="category_id" class="form-control">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <input type="submit" class="form-control btn-success" value="Validate">
            </div>
        </div>
    </form>
{% endblock %}